# Dependencies
node_modules/
.pnp
.pnp.js

# Environment variables & secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
!.env.example

# Production builds & exports
dist/
build/
web-build/

# Expo & Mobile
.expo/
.turbo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Logs & PM2
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
pids/
*.pid
*.seed

# SQLite WAL & temporary files
*.db-wal
*.db-shm
*.db-journal

# OS & Editor files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.zip
